@import url(/assets/webfonts/fa-brands-400.eot);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html body {
    margin: auto;
    font-family:'Montserrat', sans-serif;
    color: #393d41;
}

.sezionelogo {
    text-align: center;
    background: black;
    width: auto;
    padding-bottom: 2em;
    margin-block: 0;
}

#logo {
    width: 20%;
    padding-top: 2em;
}

.primaimmagine {
    background-image: url(../images/banner.jpg);
    text-align: center;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 2em;
    font-size: 1.8em;
}

h1 {
    margin: 0;
    color: #25a2c3;
}

button {
    background-color: #f04c2f;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px
}

.partecentrale {
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

#secondaimmagine {
    width: 75%;
}

.parterossa {
    text-align: center;
    background-color: red;
    color: white;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.iltuopc {
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 2em;
    padding-top: 2em;
}

#terzaimmagine {
    width: 100%;
}

.imparaora {
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 2em;
    padding-top: 2em;
}

#quartaimmagine {
    width: 100%;
}

.lavorasubito {
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-style: solid;
    border-color: #dee1e3;
}

#quintaimmagine {
    width: 100%;
}

.footer {
    text-align: center;
    background-color: #25a2c3;
}

#testofooter{
    color: white;
}