body {
  color: white;
  background-color: #141414;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.color-50 {
  color: rgb(255 255 255 / 0.5);
}

.font-small {
  font-size: 13px;
}

.font-weight-semibold {
  font-weight: 600;
}

.tracking-smaller {
  letter-spacing: -1px;
}

.navbar-nav {
  font-size: 13px;
}

.navbar-brand {
  margin-left: -7px;
}

.navbar-nav .active {
  font-weight: 600;
}

.carousel-control-next,
.carousel-control-prev {
  width: 15px;
}
.carousel-control-prev {
  left: -15px;
}

.carousel-control-next {
  right: -15px;
}

footer {
  padding: 7rem 0;
}

img:hover {
  transform: scale(1.2);
}

hr{
  background-color: gray;
}

@media (max-width: 575px) {
  h1 {
    font-size: 1.6rem;
  }
}
@media (min-width: 576px) {
  .header-icons {
    position: absolute;
    right: 0;
  }
}
